
[global]
repo1-retention-full={{ pgbackrest_repo1_retention_full | default(7) }}
#repo1-retention-diff={{ pgbackrest_repo1_retention_diff | default(7) }}
repo1-retention-archive-type={{ pgbackrest_repo1_retention_archive_type | default('full') }}
#repo1-retention-archive={{ pgbackrest_repo1_retention_archive_type | default('30') }}
log-level-console={{ pgbackrest_log_level_console | default('info') }}
log-level-file={{ pgbackrest_log_level_file | default('debug') }}
#process-max={{ pgbackrest_process_max | default(4) }}

process-max={{ server_hardware['cpu_count'] | default(4) }}
#archive-timeout=120
compress-type=zst
compress-level=3
archive-async=y
spool-path=/var/spool/pgbackrest

repo1-type={{ pgbackrest_repo1_type | default('s3') }}
repo1-s3-uri-style=path
repo1-s3-endpoint={{ pgbackrest_repo1_s3_endpoint | default('s3.us-east-1.amazonaws.com') }}
repo1-s3-region={{ pgbackrest_repo1_s3_region | default('us-east-1') }}
repo1-s3-bucket={{ pgbackrest_repo1_s3_bucket | default('demo-bucket') }}
repo1-path={{ pgbackrest_repo1_s3_path | default('/pg-backups') }}
repo1-s3-key={{ pgbackrest_repo1_s3_key }}
repo1-s3-key-secret={{ pgbackrest_repo1_s3_key_secret }}
repo1-s3-verify-tls=n

[{{ pgbackrest_stanza_name }}]
pg1-path={{ pgbackrest_pg1_path | default('/var/lib/pgsql/16/data') }}



