[Unit]
Description=Patroni {{ patroni_install_version }} HA PostgreSQL Cluster
Documentation=https://patroni.readthedocs.io
After=syslog.target network.target etcd.service

[Service]
Type=simple
User={{ postgres_user }}
Group={{ postgres_user }}
ExecStart=/usr/local/bin/patroni /etc/patroni/patroni.yml
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=process
TimeoutSec=60
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
